/* Шрифты 
Roboto 500, 900, 700, 400, Raleway 700*/

/* Ширина сетки 1170 */

.page {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* Шапка */

.main-header {
  display: flex;
  align-items: center;
}

.line-header {
  border-bottom: 1px solid #ececec;
}

.logo-header {
  color: #000000;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web {
  color: #2196f3;
}

.site-nav {
  padding: 0;
  margin-left: 93px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-contact {
  display: flex;
  padding: 0;
  margin-left: auto;
}

.site-nav .link {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .links {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-contact .link {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.site-contact .item + .item {
  margin-left: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-contact .link:hover,
.site-contact .link:focus {
  color: #2196f3;
}

.site-contact .link:hover .site-contact-icon,
.site-contact .link:focus .site-contact-icon {
  fill: #2196f3;
  color: #2196f3;
}

/* Герой */

.hero {
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../imges/header-fon.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.button {
  font-family: inherit;
}

.button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

/* Особенности */

.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.features .item {
  flex-basis: calc(100% / 4);
  margin-right: 30px;
}

.features .item::before {
  content: '';
  height: 120px;
  display: block;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.features .item:nth-child(1)::before {
  background-image: url(../imges/antenna.svg);
}

.features .item:nth-child(2)::before {
  background-image: url(../imges/clock.svg);
}

.features .item:nth-child(3)::before {
  background-image: url(../imges/diagram.svg);
}

.features .item:nth-child(4)::before {
  background-image: url(../imges/astronaut.svg);
}

.features .item:last-child {
  margin-right: 0;
}

.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.features .text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

/* Чем мы занимаемся */

.work {
  padding-bottom: 94px;
}

.work .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.work ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.work-imeges {
  display: flex;
}

.work-imeges .item {
  margin-right: 30px;
}

.work-imeges .item:last-child {
  margin-right: 0;
}

/* Наша команда */

.comanda .item:not(:last-child) {
  margin-right: 30px;
}

.ourteam {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.comanda {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  /* justify-content: center; */
}

.card-thumb {
  padding-bottom: 30px;
}

.comanda-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.comanda .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}

.comanda .text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.card-content {
  padding-bottom: 30px;
}

.card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 0;
  margin-left: 32px;
  padding-left: 0;
  width: 206px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

/* Постоянные клиенты */

.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-customers-block {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.regular-customers-block .item {
  flex-basis: calc(100% / 6 - 30px);
}

.regular-customers-block .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.regular-customers-block .item:not(:last-child) {
  margin-right: 30px;
}

.regular-customers-block-icon {
  fill: #afb1b8;
}

.regular-customers-block .link:hover .regular-customers-block-icon,
.regular-customers-block .link:focus .regular-customers-block-icon {
  fill: #2196f3;
}

.regular-customers-block .link:hover,
.regular-customers-block .link:focus {
  border-color: #2196f3;
}

/* Подвал */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer-contact .contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: block;
}

.email {
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
}

.footer-social {
  margin-left: 70px;
  width: 206px;
}

.footer-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #2196f3;
}

/* Портфолио */

.card-portfolio:hover,
.card-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filtrs {
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filtrs .item:not(:last-child) {
  margin-right: 8px;
}

.project {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-right: -30px;
}

.project .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.project .title {
  margin-top: 0;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.project .text {
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  box-sizing: border-box;
  border: 2px solid #ececec;
  border-top: none;
}

.button-filtr {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px 6px 22px;
  color: #212121;
  cursor: pointer;
}

.button-filtr:hover,
.button-filtr:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
