:root {
  --secondary-font: Raleway, sans-serif;
  --main-font: Roboto, sans-serif;
  --accent-color: #2196f3;
  --botton-color: #188ce8;
  --text-color: #212121;
  --base-color: #ffffff;
  --clients-list: #afb1b8;
  --footer-contact: rgba(255, 255, 255, 0.6);
  --text-list: #757575;
}
